<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row m-t-30">
            <div class="col-md-12">
                <div class="recent-report2">
                        <h3 class="title-3">Hi Dear!</h3>
                        <div class="chart-info">
                            <div class="chart-info__left">
                                
                                
                            </div>
                            <div class="chart-info-right">
                                <div class="rs-select2--dark rs-select2--md m-r-10">
                                    
                                </div>
                                <div class="rs-select2--dark">
                                        <div class="chart-note">
                                                <span class="dot dot--green"></span>
                                                <span>[history-inprogress] people visited.</span>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="recent-report__chart">
                            Welcome to the Customer Management System Demo website. <br>
                            <br>
                            This website is my portofolio. <br>
                            <br>
                            Enjoy!.
                            
                        </div>
                    </div>
            
            </div>
        </div>
    </div>
</div>