@import '../../assets/css/theme.css';
@import '../../assets/vendor/bootstrap.min.css';
@import '../../assets/vendor/animsition/animsition.min.css';
.dropdown-container {
  padding-left: 34px;
}
.sidebarz {
  background-color: #000000;  /*Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
}
.sidebarz-sub {
  background-color:#e7e7e7;  /*Green */
  border-style: solid;
  border-color: white;
  border-width: 1px;
  color: black;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
.backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  
  .modal-dialog {
     
    top: 90px;
    left: 560px;
     
    width: 800px;
    height: auto;
    background-color: #FFF;
    border: 1px solid #CCC;
    position: fixed;
    
    z-index: 1000005;
  /*
  width: 360px;
    position:  -webkit-sticky; 
   */
  }

  
  .modal-header {
  
  background-color: #337AB7;
  
  padding:16px 16px;
  
  color:#FFF;
  
  border-bottom:2px dashed #337AB7;
  
  }
  
