<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">RPND</a><button
      class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skill">Skill</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead bg-info text-white text-center">
  <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="assets/img/profile.png">
    <h1>Ahmad Ropandi</h1>
    <h2 class="font-weight-light mb-0">Java Developer</h2>
  </div>
</header>
<section id="skill" class="portfolio">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary">My Skill</h2>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="list-group">
          <a href="#portfolio-modal-6" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Programming Language</h5>
            </div>
            <p class="mb-1">Java, Typescript.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Framework</h5>
            </div>
            <p class="mb-1">Spring, Hibernate, Angular and Zk.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Database</h5>
            </div>
            <p class="mb-1">Oracle, SQL Server and MySql.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tools</h5>
            </div>
            <p class="mb-1">Eclipse, Netbeans,TOAD and STS.</p>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<section id="portfolio" class="portfolio">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary">Portfolio</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-6">
        <p class="text-center">I have developed a sample CMS project with Front-End using <a href="https://angular.io">Angular 7</a>, Back-End service
          using <a href="https://spring.io/projects/spring-boot">Spring Boot</a> and database using NoSQL <a href="https://mlab.com">MongoDB</a> database.
        </p>
        <p class="text-center">You can see the project simply by pressing the button below. </p>
      </div>
      <div class="col">

      </div>

    </div>

    <hr>
    <div class="text-center mt-4" (click)="onClickViewCMS()"><a class="btn btn-outline-secondary btn-xl" ><i
          class="fa fa-phone-laptop mr-2"></i><span>View CMS</span></a></div>
    <hr>
  </div>
</section>

<section id="about" class="bg-primary text-white mb-0">
  <div class="container">
    <h2 class="text-uppercase text-center text-white">About Me</h2>
    <hr>
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">I am Experienced Junior Java Developer with a demonstrated history of working in the information 
          technology and services industry. Skilled in Java Enterprise Edition, Java, Oracle Database, Java Web Services, and Hibernate.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">I graduated from the Indonesian University of Education as a Bachelor of Physics Education and currently works at PT Indocyber Global Teknologi.</p>
      </div>
    </div>
  </div>
</section>
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p>Based on Jakarta, Indoensia</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">

      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase">My Social Media</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
              role="button" href="https://github.com/devrop"><i class="fa fa-github fa-fw"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
              role="button" href="https://linkedin.com/in/ahmad-ropandi-a7960ba7"><i class="fa fa-linkedin-square fa-fw"></i></a></li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright py-4 text-center text-white">
  <div class="container">Ahmad Ropandi © 2019. All rights reserved.</div>
</div>
<div class="d-lg-none scroll-to-top position-fixed rounded"><a
    class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i
      class="fa fa-chevron-up"></i></a></div>
