<div class="section__content section__content--p30">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Privilege Form
          </div>
          <div class="card-body card-block">
            <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-horizontal">
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Privilege Name</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" name="privilegename" [(ngModel)]="model.privilegeName" placeholder="Privilege Name"
                    class="form-control" [disabled] ="true">

                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="select" class=" form-control-label">Can Add</label>
                </div>
                <div class="col-12 col-md-9">
                  <select id="select" class="form-control" [(ngModel)]="model.flagAdd" name="add" [disabled] ="true">
                    <option *ngFor="let data of datas" [value]="data.id">{{data.name}}</option>

                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="select" class=" form-control-label">Can Edit</label>
                </div>
                <div class="col-12 col-md-9">
                  <select name="edit" [(ngModel)]="model.flagEdit" class="form-control" [disabled] ="true">
                    <option *ngFor="let data of datas" [value]="data.id">{{data.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="select" class=" form-control-label">Can View</label>
                </div>
                <div class="col-12 col-md-9">
                  <select id="select" class="form-control" name="view" [(ngModel)]="model.flagView" [disabled] ="true">
                    <option *ngFor="let data of datas" [value]="data.id">{{data.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="select" class=" form-control-label">Can Delete</label>
                </div>
                <div class="col-12 col-md-9">
                  <select name="delete" [(ngModel)]="model.flagDelete" id="select" class="form-control" [disabled] ="true">
                    <option *ngFor="let data of datas" [value]="data.id">{{data.name}}</option>
                  </select>
                </div>
              </div>
              <div class="card-footer">
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

